.s {
    text-align: center;
}

.s p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .s p {
        white-space: normal; 
        overflow: visible;
        text-overflow: clip;
    }
}

@media (max-width: 992px) {
    .services-nav, .service-content {
        width: 100%;
    }

    .services-nav {
        margin-bottom: 20px;
    }

    .nav-pills .nav-link {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .services-nav {
        text-align: center;
    }

    .nav-pills .nav-item {
        display: block;
    }
}
