.s {
    text-align: center;
}


.s p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; /* Optionally reset margin */
}

@media only screen and (max-width: 768px) {
    .s p {
        white-space: normal; /* Allow text to wrap on smaller screens */
        overflow: visible;
        text-overflow: clip; /* Display full text without ellipsis on smaller screens */
    }
}


@media (max-width: 992px) {
    .services-nav, .service-content {
        width: 100%;
    }

    .services-nav {
        margin-bottom: 20px;  /* Add some space between the nav and content */
    }

    .nav-pills .nav-link {
        padding: 10px; /* Increase padding for better touch targets */
    }
}

@media (max-width: 768px) {
    .services-nav {
        text-align: center; /* Center align the navigation texts for a better mobile view */
    }

    .nav-pills .nav-item {
        display: block; /* Stack the nav items vertically */
    }
}